/*
====================
Explore Styling
====================
*/

.grey {
    color: #999;
}

.font-weight600 {
    font-weight: 600;
}

.pStyle {

        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 5px;
        margin-left: -5px;
}

.pointer {
    cursor: pointer;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 574px) {
    /* body {
        background:  red !important;
    } */

    .discover-card {
        margin-top: 10px;
        margin-left: 0 !important;
    }


    
   }