<div class="container">
  <div class="row">
    <div class="col"><p class="grey font-weight600 mt-5">Discover People</p></div>
  </div>


  <div class="row mx-auto">
    <div *ngFor="let user of users" class="card discover-card col-xs-4 col-sm-4 col-md-3" style="margin-left:25px; padding:20px">

      <a routerLink="/profile/{{user.id}}/post" class="mx-auto"><img class="card-img-top rounded-circle" src="{{user.profilePic}}" style="height: 78px; width: 78px; margin:0 auto" alt="Card image cap"></a>
    
      <div class="card-body">
          <a routerLink="/profile/{{user.id}}/post"> <p class="card-text text-center pStyle">{{user.username}}</p></a>
        <!-- <p class="card-text text-center pStyle">{{user.username}}</p> -->
      </div>
      <button (click)="followUser(user.id)" class="btn btn-primary" style="width:50%; margin: 0 auto">Follow</button>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col"><p class="grey font-weight600">Explore</p></div>
  </div>


  <div class="row bt-grey pointer">
    <div class="col-sm-12 col-md-4 pt-5" *ngFor="let post of posts">
        <img src="{{post.photo}}" alt="" style="height: 300px; width: 300px;" (mouseenter)="logData(post.id)" (click)="selectPost(post.id)">
      </div>
  </div>
  
</div>