<div class="row" *ngIf="Iserror; then error">
  
</div>

<ng-template #error>
    <div class="col-4 mx-auto mt-4 alert alert-danger" role="alert">
        {{message}}
      </div>
</ng-template>

<div class=" pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
  
      
        <div class="card-body">
          


          <form [formGroup]="loginForm" class="form" (ngSubmit)="loginUser()">

            <div class="form-group">
              <label for="">Username</label>
              <input type="text" formControlName="username" class="form-control rounded-0" [ngClass]="{'errorOutline': Iserror == true}">
            </div>


            <div class="form-group">
              <label for="">Password</label>
              <input type="password" formControlName="password" class="form-control rounded-0"[ngClass]="{'errorOutline': Iserror == true}">
            </div>

            <button  type="submit" class="btn btn-primary float-right">Login</button>
          </form>

         

        </div>
      </div>
    </div>
  </div>