nav li {
    margin-left: 30px;
}

nav {
    background-color: #fff !important;
    padding: 26px 40px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    /* position: fixed; */
    width: 100%;
    /* display: flex;
    justify-content: center; */
  
}

.activity_feed {
    margin-bottom: 8px;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 1px #e6e6e6;
}

.transparent {
    background: transparent;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 446px) {
    /* body {
        background:  red !important;
    } */

    nav {
        display: flex;
        justify-content: center;
    }

    .icon-ul {
        margin-top: 20px;
    }
    
   }