

<div class="row mt-3" *ngFor="let post of post">
  <!-- Get photo associaited with this post -->
  <div class="col-6">
    <img src="{{post.photo}}" class="img-responsive" alt="" style="width: 100%; border-radius: 3px;">
  </div>

  <!-- Get user info and comments associated with this post -->
  <div class="col-6">
     
    <div class="row bottomBorder mb-25 post-header">
      <div class="col-4"><img src="{{ post.profilePic}}" alt="" class="rounded-circle" style="height: 40px;"></div>
      <div class="col-8"><strong>{{ post.username}}</strong></div>
      <hr>
    </div>


   <div class="mb-25">
     <a href="/profile/{{post.mainUserId}}"><strong>{{post.username}} - </strong></a><span>{{post.caption}}</span>
   </div>

   <div class="col comments" *ngFor="let comment of comments">
    <p><a href="/profile/{{comment.userId}}"><strong>{{comment.username}} - </strong></a>{{comment.comment}}</p>
   </div>
  </div>
</div>