
<div class="container pt-5 ">


  
  <div class="row m-auto">
    <div class="col d-flex justify-content-center">
        <img src="{{profilePic}}" style="height:100px" alt="" class="rounded-circle">
    </div>

    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="helvetica-font font-weight200">{{username}}</h3>
          </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="small-font"><strong>{{userInfo.postAmount}}</strong> posts  <strong>{{userInfo.followingAmount}}</strong> followers <strong>{{userInfo.followerAmount}}</strong> following</span>
              </div>
        </div>


        <div class="row mt-3" *ngIf="show">
          
          <div class="mr-2"><button class="btn btn-primary profile-btn btn-block" (click)="showAddPost()"><span>Add a Post</span></button></div>
          <div><button class="btn btn-primary profile-btn btn-block" (click)="showChangeProfilePic()"><span>Change Picture</span></button></div>
        </div>

      </div>
    </div>

    
  </div> 


    <div class="row mt-50">
        <div class="col">
         <p class="text-center" (click)="showPosts()">Posts</p>
         <!-- <app-post *ngIf="loadPosts"></app-post> -->
        </div>
  
        <div class="col" *ngIf="show">
            <p class="text-center" (click)="showSaved()">Saved</p>
        </div>
      </div>

      
  

      <router-outlet></router-outlet>


  

</div>



