
<div class="row bt-grey" *ngIf="postLength">
    <div class="col-lg-4 col-sm-4 col-4 pt-5" *ngFor="let post of post">
        <div *ngIf="!post">
            <p>No posts yet</p>
        </div>

        <div *ngIf="post">
            <a routerLink=""></a>
            <img src="{{post.photo}}" alt="" class="img-responsive" style="width:100%" (click)="selectPost(post.id)">
        </div>

    </div>
</div>


<div *ngIf="!postLength" class="mb-3 mt-4 mx-auto grey_ptag">
    <p class="text-center">{{userOrNot}} currently have no posts to show at the moment!</p>
</div>