/*
====================
Home Styling
====================
*/
.smallPic {
    height: 24px;
}

.borderNone {
    border: none;
}

.outlineNone {
    outline: none;
}


button.ig_sprites {
    margin-right: 5px;
}

.grey_outliine {
 box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3); 
}

.imgSizing {
    height: 78px;
    width: 78px;
}

.grey_ptag {
    color: #999!important;
    font-weight: 500!important;
    margin-top: 100px !important;
}

.commentForm {
    resize: none;
    
}

.noBorder {
    border: 0 !important; 
}